/*----- MAIN SETTINGS ----- */

body {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  color: #000;
}

@font-face {
  font-family: Lifehack;
  src: url(Fonts/Lifehack-Bold.ttf);
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

i,
div,
p,
button,
a,
input,
span {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h4 {
  padding-bottom: 8px;
  color: #2d63eb;
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

/* ----- HEADER ----- */

.container {
  max-width: 1091px;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 59px 0 237px;
  color: #fff;
  background: linear-gradient(127deg, #4a7dfc 2.76%, #1148d3 82.86%) no-repeat,
    center top;
}

.header__name {
  font-size: 27px;
  font-family: Lifehack;
  margin-bottom: 135px;
}

.header__title {
  margin: 0 auto;
  max-width: 578px;
  width: 100%;
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 73px;
}

.header__btn {
  font-size: 13px;
  font-weight: 700px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 218px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 27px;
  padding: 20px 35px 19px 36px;
  margin-bottom: 173px;
}

/* ----- FIRST SECTION ----- */

.first__section {
  padding: 139px;
  text-align: center;
}

.section__title {
  margin-bottom: 50px;
  font-size: 26px;
  text-transform: uppercase;
}

.circles__info {
  margin: 0 auto;
  max-width: 695px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 222px;
}

.circles__info p {
  margin-top: 23px;
  font-size: 16px;
}

.fa-1 {
  color: #ffa200;
  border: 1px solid;
  border-radius: 50%;
  padding: 20px 29px;
  font-size: 30px;
}

.fa-2 {
  color: #fff;
  background: #ffa200;
  border-radius: 50%;
  padding: 20px 29px;
  font-size: 30px;
}

.fa-3 {
  color: #ffa200;
  border: 1px solid;
  border-radius: 50%;
  padding: 20px 29px;
  font-size: 30px;
}

.about__me {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 141px;
}

.section__mission {
  max-width: 683px;
  width: 100%;
}

.mission {
  border-bottom: 2px solid #2d63eb;
  margin-left: -14px;
  margin-bottom: 45px;
  width: 113px;
}

.mission__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 13px;
  text-align: left;
  text-transform: uppercase;
}

b {
  color: #2d63eb;
  border-bottom: 2px solid #2d63eb;
}

.section__lorem__1 {
  text-align: left;
  line-height: 24px;
  font-size: 15px;
  padding-bottom: 32px;
}

.section__lorem {
  text-align: left;
  line-height: 24px;
  font-size: 15px;
}

.section__blue {
  max-width: 284px;
  width: 100%;
}

.history {
  border-bottom: 2px solid #2d63eb;
  margin-left: -14px;
  margin-bottom: 41px;
  width: 113px;
}

.blue__main__info {
  text-align: left;
}

.little__icon__stat {
  justify-content: space-between;
  display: flex;
  margin-bottom: 19px;
}

.little__stat {
  max-width: 195px;
  width: 100%;
  text-align: left;
}

.little__stat p {
  font-size: 15px;
  color: #2f383b7a;
}

/* ----- SECOND SECTION ----- */
